{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body>
    <section id="team">
        <div id="center">
            <h1>About Us</h1>
        </div>

        <div id="teamcontent">
            <div id="box">
                <image src="{% static '/images/jep.png' %}"></image>
                <h3>Jayferson Magdayo</h3>
                <h5>Web Developer</h5>
                <div id="icons">
                    <a href="#"><i class="ri-facebook-box-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                </div>
            </div>
            <div id="box">
                <img src="{% static '/images/jenny.png' %}"></image>
                <h3>Jenny Rose Macaranas</h3>
                <h5>Web Designer</h5>
                <div id="icons">
                    <a href="#"><i class="ri-facebook-box-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}