{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<body>
<div id="container">
    <div id="contact">
        <div id="left"></div>
        <div id="right">
            <h2>Contact Us</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="email" class="field" placeholder="Your Email">
            <input type="text" class="field" placeholder="Your Phone Number">
            <textarea class="field area" placeholder="Message"></textarea>
            <button id="btn">SEND</button>
        </div>
    </div>
</div>
</body>
{% endblock %}