{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body>
    <div id="wrap">
        <h2>Our Services</h2>
        <div id="line"></div>
        <div id="single-service">
            <div id="social"><i class="fa-solid fa-truck-fast fa-beat"></i></div>
            <span></span>
            <h3>Delivery</h3>
            <br>
            <br>
            <p>Delivery services collaboration, we prioritize timely and secure shipment, ensuring products reach our customers swiftly and in pristine condition through seamless coordination and efficient logistics.</p>
        </div>
        <div id="single-service">
            <div id="social"><i class="fa-solid fa-screwdriver-wrench fa-beat"></i></div>
            <span></span>
            <h3>Repairing</h3>
            <br>
            <br>
            <p>Tech consultation, we work closely with customers to understand their needs, offering tailored solutions and expert advice to optimize their technological landscape for maximum efficiency and innovation.</p>
        </div>
        <div id="single-service">
            <div id="social"><i class="fa-solid fa-people-group fa-beat"></i></div>
            <span></span>
            <h3>Collaboration</h3>
            <br>
            <br>
            <p>Collaborating with our computer store, we aim to provide customers with cutting-edge technology solutions and personalized support for a seamless and efficient computing experience.</p>
        </div>
    </div>
</body>
{% endblock %}